

#intro{
margin: 350px 0 350px 0;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);

    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}

header{
    background: url("../images/header.jpg") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@keyframes fadein {
    from {  opacity:0;  } to {  opacity:1;  }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {  opacity:0;  } to {  opacity:1;  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {  opacity:0;  } to {  opacity:1;  }
}
@-o-keyframes fadein { /* sur Opera */
    from {  opacity:0;  } to {  opacity: 1;  }
}

.center {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.center p{
    font-size: 50px;
}

#container-404{
    position: relative;
    width: 100%;
}

#container-404 img{
    opacity: 0.4;
    width: 100%;
}
#texte-404{
    font-size: 150px;
}

#carousel-portfolio{
    width: 100%;
    height: 100%;
    margin: auto;
}

#carousel-portfolio img{
    height: 250px;
}

/* compétences **/

.image_competences{
    width: 150px;
    height: 150px;
    margin:auto;
}

.block-image{
    position: relative;
    padding:10px;
    margin:5px;
    text-align: center;

}

.text-hover p{
    position: absolute;
    top: 50%;
    left: 40%;
    opacity: 0;

}

.block-image:hover .image_competences{
    opacity: 0.5;
}
.block-image:hover .text-hover p{
    position: absolute;
    top: 50%;
    left: 40%;
    display: block;
    opacity: 1;
    -webkit-transition: all 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;
}

.block-image:hover{
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;

}
