

#intro{
margin: 400px 0 620px 0;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);

    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}

header{
    background: url("../images/header.jpg") center no-repeat;
}
@keyframes fadein {
    from {  opacity:0;  } to {  opacity:1;  }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {  opacity:0;  } to {  opacity:1;  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {  opacity:0;  } to {  opacity:1;  }
}
@-o-keyframes fadein { /* sur Opera */
    from {  opacity:0;  } to {  opacity: 1;  }
}

.center {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.center p{
    font-size: 50px;
}

#container-404{
    position: relative;
    width: 100%;
}

#container-404 img{
    opacity: 0.4;
    width: 100%;
}
#texte-404{
    font-size: 150px;
}





#carousel-portfolio{
    width: 100%;
    height: 100%;
    margin: auto;
}

#carousel-portfolio img{
    height: 250px;
}

